* {
  font-family: 'Slabo 27px', serif;
  font-family: 'Lora', serif;
}

body {
  background-color: Lightgray;
  background-image: url('images/soundsunset.jpg');
  background-size: 1200px;
  background-repeat: no-repeat;
}

header {
  font-family: serif;
  font-size: 20px;
  display: block;
  color: Black;
  background-color: White;
  text-shadow: 2px 2px 8px #FF0000;
  opacity: 0.6;
}

header img {
  float: left;
 }

h3 {
  color: Black;
  text-shadow: 2px 2px 8px #FF0000; }

p {
  padding-left: 10px;
}

ul {
  list-style-type: circle;
}

form {
  border: transparent;
}

table {
  top: 300px;
  right: 150px;
  vertical-align: middle;
  background-color: rgba(247, 247, 247, .70 );
  color: #30323D;
  text-align: center;
  font-family: Helvetica, Verdana, sans-serif;
  padding: 2%;
  margin: 10%;
}

label, input, button {
  width: 200px;
}

#aboutus {
  display: flex;
  float: left;
  font-family: 'Lora', serif;
  font-weight: 300;
  width: 50%;
  float: left;
  margin-left: 50px;
  margin-top: 150px;
  padding:10px 20px;
  font-size: 18px;
  background-color: Lightgray;

}

#locations {
  display: flex;
  float: left;
}

#merch {
  display: flex;
  float: right;
}

#events {
  display: flex;
  float: left;
}

#fishlogo {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

#new-cookie-stand {
  max-width: 500 px;
  margin: 10%;
}

#logo {
  padding: 30px;
}

#family {
  float:right;
  max-width: 550px;
 }

#Fishes {
  float: right;
  margin-top: 170px;
  margin-right: 200px;
 }

#sans {
  font-family: Helvetica;
}

#SandyBrown {
  background-color: SandyBrown;
}

#Lightgray {
  background-color: Lightgray;

}

#Black {
  background-color: Black;
}

#center {
  text-align: center;
  background-color: rgba(247, 247, 247, .55 );
}

.original {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box {
  background: #2db34a;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin:hover {
    animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.box-1 {
  transform: perspective(200px) translateZ(-50px);
}

.card-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  position: absolute;
  width: 150px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

.rotate:hover {
  -webkit-transform: rotateZ(30deg);
  -ms-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
}

.header, .main, {
  flex: 1 100%;
}

.header {
  background-color: silver;
  border-radius: 10px 10px 0px 0px;
}
.main {
  font-weight: normal;
  background-color: silver;
  border-radius: 5px;
  margin: 10px;
  min-width: 300px;
}
